.pizza .subtitle {
  min-height: 40px;
}

.pizza .card-footer-item {
  height: 45px;
}

.pizza .card-footer .price-label {
  font-size: 19px;
  font-weight: bold;
}

.pizza .card-footer .shopping-cart {
  color: var(--secondary);
}

.pizza .card-footer .shopping-cart:hover {
  color: white;
  background-color: var(--secondary-light);
}
