.navbar {
  background-color: var(--primary-dark);

  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }

  .navbar-brand-title {
    margin-left: 10px;
    color: white;
  }

  .navbar-item {
    color: white !important;

    &:hover {
      background-color: var(--primary) !important;
      color: black !important;
    }
  }
}
